<md-dialog aria-label="Add New Location Dialog" flex="40">
    <form ng-cloak name="addNewLocationForm" ng-submit="add()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add New Location</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <i class="fa fa-close" aria-label="Close dialog"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column" style="padding: 10px;">
            <div class="input-group mb-3">
                <input name="locationName" type="text" class="form-control" placeholder="Location" aria-label="Location" ng-model="locationName" required>
                <div class="input-group-append" ng-if="saving > 0">
                    <span class="input-group-text">
                        <div ng-show="saving == 1">
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <div ng-show="saving == 2">
                            <i class="fa fa-check-circle fa-fw"></i>
                        </div>
                    </span>
                </div>
            </div>

            <!--<div id="docTree" flex></div>-->

            <div
                class="modalTree locationTree"
                data-angular-treeview="true"
                data-tree-id="addNewLocationTree"
                data-tree-model="locations"
                data-node-id="ID"
                data-node-label="Asset"
                data-node-custom-class="CustomClass"
                data-node-children="children"></div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="close()">
                Close
            </md-button>
            <md-button ng-click="add()" ng-disabled="!addNewLocationForm.locationName.$valid || saving">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>